<% include ../partials/header %>
  <body>
    <h1><%= seasonData.name %><h1>
    <% for (let i = 0; i < seasonData.episodes.length; i++) { %>
      <h2>Episode <%= seasonData.episodes[i].episode_number %>: <%= seasonData.episodes[i].name %></h2>
      <p><%= seasonData.episodes[i].overview %></p>
      <% dates = seasonData.episodes[i].air_date.split('-') %>
      <p>Aired: <%= `${dates[1]}/${dates[2]}/${dates[0]}` %></p>
    <% } %>
  </body>
</html>
