<% include ../partials/header %>
  <body>
    <a id="top-button"></a>
    <% include ../partials/nav %>

    <div class="container one-show">
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>

      <!-- Back to shows button -->
      <!-- <form action="/shows" method="GET">
        <button>Return to Shows</button>
      </form> -->
      <!-- Show title -->
      <h2><%= showData.name %></h2>
      <!-- If there's a show poster, display poster -->
      <% if (showData.poster_path) { %>
        <img src="http://image.tmdb.org/t/p/w300<%= showData.poster_path %>">
      <% } else if (!showData.poster_path) { %>
        <img class="no-img" src="/client/img/tv-noimg.png">
      <% } %>

      <div class="buttons">
        <!-- Add to favorites button -->
        <form action="/show/<%= showData.id %>" method="POST">
          <input type="hidden" name="showId" value="<%= showData.id %>">
          <input type="hidden" name="showTitle" value="<%= showData.name %>">
          <input type="hidden" name="showImg" value="<%= showData.poster_path %>">
          <button class="add-btn">
            Add to Favorites
          </button>
        </form>
        <!-- Remove from favorites button -->
        <form action="/show/<%= showData.id %>?_method=DELETE" method="POST">
          <input type="hidden" name="showId" value="<%= showData.id %>">
          <button class="remove-btn">
            Remove from Favorites
          </button>
        </form>
      </div>

      <div class="show-desc">
        <!-- Show description -->
        <p><%= showData.overview %></p>
        <!-- Fix format of date, and display show airdate -->
        <% if (showData.first_air_date) { %>
          <% dates = showData.first_air_date.split('-') %>
          <p>First aired: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
        <% } %>
        <!-- Show genres -->
        <% for (let i = 0; i < showData.genres.length; i++) { %>
          <p><%= showData.genres[i].name %></p>
        <% } %>
        <p>Seasons: <%= showData.number_of_seasons %></p>
        <p>Episodes: <%= showData.number_of_episodes %></p>
        <p>Rating: <%= showData.vote_average %></p>
        <p>Popularity: <%= showData.popularity %></p>
        <p>Status: <%= showData.status %></p>
        <!-- Show website link -->
        <a href="<%= showData.homepage %>"><p>Website</p></a>
      </div>

      <!-- Season breakdown -->
      <h2 class="seasons-title">Seasons:</h2>
      <!-- For each season, display data -->
      <div class="seasons">
        <% for (let i = 0; i < showData.seasons.length; i++) { %>
          <div class="season">
            <!-- Store show id and seasons number -->
            <% showId = showData.id %>
            <% seasonNumber = showData.seasons[i].season_number %>
            <!-- Season name -->
            <h3><%= showData.seasons[i].name %></h3>
            <!-- If there's a season poster, display poster -->
            <% if (showData.seasons[i].poster_path) { %>
              <a href="/show/<%= showData.id %>/season/<%= showData.seasons[i].season_number %>">
                <img src="http://image.tmdb.org/t/p/w185<%= seasonImg = showData.seasons[i].poster_path %>">
              </a>
            <% } else if (!showData.seasons[i].poster_path) { %>
              <a href="/show/<%= showData.id %>/season/<%= showData.seasons[i].season_number %>">
                <img class="no-img" src="/client/img/tv-noimg.png">
              </a>
            <% } %>

            <!-- Fix format of date, and display show airdate -->
            <% if (showData.seasons[i].air_date) { %>
              <% dates = showData.seasons[i].air_date.split('-') %>
              <p>Premiered: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
            <% } %>
            <!-- Number of episodes -->
            <p>Total episodes: <%= episodeCount = showData.seasons[i].episode_count %></p>
          </div>
        <% } %>
      </div>
    </div>

    <div class="recs">
      <!-- Show recommendations -->
      <!-- <h1>Similar shows:<h1> -->
    </div>

    <a class="top-button" href=#top-button>&#8593;</a>
  </body>
</html>
