<% include ../partials/header %>
  <body>
    <h1><%= showData.name %></h1>
    <img src="http://image.tmdb.org/t/p/w185<%= showData.poster_path %>">
    <h3><%= showData.overview %></h3>
    <% dates = showData.first_air_date.split('-') %>
    <p>First aired: <%= `${dates[1]}/${dates[2]}/${dates[0]}` %></p>
    <p><%= showData.genres[0].name %></p>
    <p>Seasons: <%= showData.number_of_seasons %></p>
    <p>Episodes: <%= showData.number_of_episodes %></p>
    <p>Rating: <%= showData.vote_average %></p>
    <p>Popularity: <%= showData.popularity %></p>
    <p>Status: <%= showData.status %></p>
    <a href="<%= showData.homepage %>">Website</a>

    <h1>Seasons:</h1>
    <% for (let i = 0; i < showData.seasons.length; i++) { %>
      <% showId = showData.id %>
      <% seasonNumber = showData.seasons[i].season_number %>
      <h3><%= showData.seasons[i].name %></h3>
      <img src="http://image.tmdb.org/t/p/w185<%= seasonImg = showData.seasons[i].poster_path %>">
      <% dates = showData.seasons[i].air_date.split('-') %>
      <p>Premiered: <%= seasonAirdate = `${dates[1]}/${dates[2]}/${dates[0]}` %></p>
      <p>Total episodes: <%= episodeCount = showData.seasons[i].episode_count %></p>
      <a href="<%= seasonLink = `https://api.themoviedb.org/3/tv/${showId}/season/${seasonNumber}?api_key=085991675705d18c9d1f19c89cae4e50&language=en-US` %>">Season API Link</a>
    <% } %>
  </body>
</html>
