<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>

    <!-- For each show, display data -->
    <% for (let i = 0; i < currentData.results.length; i++) { %>

      <!-- Show title -->
        <h2 id="<%= currentData.results[i].id %>"><%= currentData.results[i].name %></h2>

      <!-- If there's a show poster, display poster -->
      <% if (currentData.results[i].poster_path) { %>
        <a href="/show/<%= currentData.results[i].id %>">
          <img src="http://image.tmdb.org/t/p/w185<%= currentData.results[i].poster_path %>">
        </a>
      <% } %>

      <!-- Show description -->
      <p><%= currentData.results[i].overview %></p>
      <p>Rating: <%= currentData.results[i].vote_average %></p>
      <p>Popularity: <%= currentData.results[i].popularity %></p>

      <!-- Add to favorites button -->
      <form action="/shows" method="POST">
        <input type= "hidden" name= "showId" value= "<%= currentData.results[i].id %>">
        <button class="add-btn">
          Add to Favorites
        </button>
      </form>

      <!-- Remove from favorites button -->
      <form action="/shows?_method=DELETE" method="POST">
        <input type= "hidden" name= "showId" value= "<%= currentData.results[i].id %>">
        <button class="remove-btn">
          Remove from Favorites
        </button>
      </form>

    <% } %>

    <button class="previous-btn">Previous Page</button>
    <button class="next-btn">Next Page</button>
  </body>
</html>
