<% include ../partials/header %>
  <body>
    <a id="top-button"></a>
    <% include ../partials/nav %>

    <div class="container one-show">
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>

      <!-- Show title -->
      <h2><%= showData.name %></h2>

      <div class="show-desc">
        <div class="show-left">
          <!-- If there's a show poster, display poster -->
          <% if (showData.poster_path) { %>
            <a href="<%= showData.homepage %>">
              <img src="http://image.tmdb.org/t/p/w300<%= showData.poster_path %>">
            </a>
          <% } else if (!showData.poster_path) { %>
            <a href="<%= showData.homepage %>">
              <img class="no-img" src="/client/img/tv-noimg.png">
            </a>
          <% } %>
        </div>

        <div class="show-right">
          <!-- Show description -->
          <p><%= showData.overview %></p>
          <p><b>Genres:</b>
            <% for (let i = 0; i < showData.genres.length; i++) { %>
              | <%= showData.genres[i].name %> |
              <% } %>
            </p>
          <!-- Fix format of date, and display show airdate -->
          <% if (showData.first_air_date) { %>
            <% let dates = showData.first_air_date.split('-') %>
            <p>First aired: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
          <% } %>
          <!-- Show genres -->
          <p><%= showData.number_of_seasons %> seasons, <%= showData.number_of_episodes %> episodes</p>
          <p><b>Rating:</b> <%= showData.vote_average %></p>
          <p><b>Popularity:</b> <%= showData.popularity %></p>
          <p><b>Status:</b> <%= showData.status %></p>
          <!-- Add to favorites button -->
          <form action="/show/<%= showData.id %>" method="POST">
            <input type="hidden" name="showId" value="<%= showData.id %>">
            <input type="hidden" name="showTitle" value="<%= showData.name %>">
            <input type="hidden" name="showImg" value="<%= showData.poster_path %>">
            <button class="add-btn">
              Add to Favorites
            </button>
          </form>
        </div>
      </div>

      <!-- Season breakdown -->
      <h2 class="seasons-title">Seasons:</h2>
      <!-- For each season, display data -->
      <div class="seasons">
        <% for (let i = 0; i < showData.seasons.length; i++) { %>
          <div class="season">
            <!-- Store show id and seasons number -->
            <% showId = showData.id %>
            <% seasonNumber = showData.seasons[i].season_number %>
            <!-- Season name -->
            <h3><%= showData.seasons[i].name %></h3>
            <!-- If there's a season poster, display poster -->
            <% if (showData.seasons[i].poster_path) { %>
              <a href="/show/<%= showData.id %>/season/<%= showData.seasons[i].season_number %>">
                <img src="http://image.tmdb.org/t/p/w185<%= seasonImg = showData.seasons[i].poster_path %>">
              </a>
            <% } else if (!showData.seasons[i].poster_path) { %>
              <a href="/show/<%= showData.id %>/season/<%= showData.seasons[i].season_number %>">
                <img class="no-img" src="/client/img/tv-noimg.png">
              </a>
            <% } %>
            <!-- Fix format of date, and display show airdate -->
            <% if (showData.seasons[i].air_date) { %>
              <% dates = showData.seasons[i].air_date.split('-') %>
              <p>Premiered: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
            <% } %>
            <!-- Number of episodes -->
            <p><%= episodeCount = showData.seasons[i].episode_count %> episodes</p>
          </div>
        <% } %>
      </div>
    </div>

    <div class="container recs">
      <h2>If you like <%= showData.name %> you might also like...</h2>
      <div class="rec-shows">
        <!-- Show recommendations -->
        <% for (let i = 0; i < recsData.results.length; i++) { %>
          <div id="<% recsData.results[i].id %>" class="show">
            <!-- If there's a show poster, display poster -->
            <% if (recsData.results[i].poster_path) { %>
              <a href="/show/<%= recsData.results[i].id %>">
                <img src="http://image.tmdb.org/t/p/w185<%= recsData.results[i].poster_path %>">
              </a>
            <% } else if (!recsData.results[i].poster_path) { %>
              <a href="/show/<%= recsData.results[i].id %>">
                <img class="no-img" src="/client/img/tv-noimg.png">
              </a>
            <% } %>
            <!-- Show title -->
            <h3><%=recsData.results[i].name %></h3>
            <p>Rating: <%=recsData.results[i].vote_average %></p>
            <!-- <p>Popularity: <%=recsData.results[i].popularity %></p> -->
            <!-- Add to favorites button -->
            <form action="/show/<%= recsData.results[i].id %>" method="POST">
              <input type="hidden" name="showId" value="<%= recsData.results[i].id %>">
              <input type="hidden" name="showTitle" value="<%= recsData.results[i].name %>">
              <input type="hidden" name="showImg" value="<%= recsData.results[i].poster_path %>">
              <button class="add-btn">
                Add to Favorites
              </button>
            </form>
          </div>
        <% } %>
      </div>
    </div>

    <a class="top-button" href=#top-button>&#8593;</a>
  </body>
</html>
