<% include ../partials/header %>
  <body>
    <% include ../partials/nav %>
    <!-- Back to shows button -->
    <form action="/shows" method="GET">
      <button>Return to Shows</button>
    </form>
    <!-- Show title -->
    <h1><%= showData.name %></h1>
    <!-- If there's a show poster, display poster -->
    <% if (showData.poster_path) { %>
      <img src="http://image.tmdb.org/t/p/w185<%= showData.poster_path %>">
    <% } %>
    <!-- Add to favorites button -->
    <form action="/show/<%= showData.id %>" method="POST">
      <button>Add to Favorites</button>
    </form>
    <!-- Show description -->
    <h3><%= showData.overview %></h3>
    <!-- Fix format of date, and display show airdate -->
    <% dates = showData.first_air_date.split('-') %>
    <p>First aired: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
    <!-- Show genres -->
    <% for (let i = 0; i < showData.genres.length; i++) { %>
      <p><%= showData.genres[i].name %></p>
    <% } %>
    <!-- Number of seasons -->
    <p>Seasons: <%= showData.number_of_seasons %></p>
    <!-- Number of episodes -->
    <p>Episodes: <%= showData.number_of_episodes %></p>
    <!-- Show rating -->
    <p>Rating: <%= showData.vote_average %></p>
    <!-- Show popularity -->
    <p>Popularity: <%= showData.popularity %></p>
    <!-- Show status -->
    <p>Status: <%= showData.status %></p>
    <!-- Show website link -->
    <a href="<%= showData.homepage %>">Website</a>

    <!-- Season breakdown -->
    <h1>Seasons:</h1>
    <!-- For each season, display data -->
    <% for (let i = 0; i < showData.seasons.length; i++) { %>
      <!-- store show id and seasons number -->
      <% showId = showData.id %>
      <% seasonNumber = showData.seasons[i].season_number %>
      <!-- Season name -->
      <a href="/show/<%= showData.id %>/season/<%= showData.seasons[i].season_number %>">
        <h3><%= showData.seasons[i].name %></h3>
      </a>
      <!-- If there's a season poster, display poster -->
      <% if (showData.seasons[i].poster_path) { %>
        <img src="http://image.tmdb.org/t/p/w185<%= seasonImg = showData.seasons[i].poster_path %>">
      <% } %>
      <!-- Fix format of date, and display show airdate -->
      <% if (showData.seasons[i].air_date) { %>
        <% dates = showData.seasons[i].air_date.split('-') %>
        <p>Premiered: <%= `${dates[1]}-${dates[2]}-${dates[0]}` %></p>
      <% } %>
      <!-- Number of episodes -->
      <p>Total episodes: <%= episodeCount = showData.seasons[i].episode_count %></p>
    <% } %>

    <!-- Show recommendations -->
    <h1>Similar shows:<h1>

  </body>
</html>
