<% include ../partials/header %>
  <body>
    <!-- For each show, display data -->
    <% for (let i = 0; i < currentData.results.length; i++) { %>
      <!-- Display title -->
      <h2><%= currentData.results[i].name %></h2>
      <!-- If there's a show poster, display poster -->
      <% if (currentData.results[i].poster_path) { %>
        <img src="http://image.tmdb.org/t/p/w185<%= currentData.results[i].poster_path %>">
      <% } %>
      <!-- Display show description -->
      <p><%= currentData.results[i].overview %></p>
      <!-- Display show rating -->
      <p>Rating: <%= currentData.results[i].vote_average %></p>
      <!-- Display show popularity -->
      <p>Popularity: <%= currentData.results[i].popularity %></p>
      <!-- Display link to show's API -->
      <a href="https://api.themoviedb.org/3/tv/<%=currentData.results[i].id%>?api_key=085991675705d18c9d1f19c89cae4e50&language=en-US"> API link </a>
    <% } %>
  </body>
</html>
