<% include ../partials/header %>
  <body>
    <% for (let i = 0; i < currentData.results.length; i++) { %>
      <h2><%= currentData.results[i].name %></h2>
      <img src="http://image.tmdb.org/t/p/w185<%= currentData.results[i].poster_path %>">
      <p><%= currentData.results[i].overview %></p>
      <p>Rating: <%= currentData.results[i].vote_average %></p>
      <p>Popularity: <%= currentData.results[i].popularity %></p>
      <a href="https://api.themoviedb.org/3/tv/<%=currentData.results[i].id%>?api_key=085991675705d18c9d1f19c89cae4e50&language=en-US"> API link </a>
    <% } %>
  </body>
</html>
