<% include ../../partials/header %>
  <body>
    <a id="top-button"></a>
    <% include ../../partials/nav %>


    <div class="container favorites">
      <% if (message) { %>
        <h3><%= message %></h3>
      <% } %>

      <h2>FAVORITES:</h2>
      <div class="favorite-shows">
        <!-- For each favorite, display info -->
        <% for (let i = 0; i < favoritesData[i].length; i++) { %>
          <div class="show">
            <!-- Show title -->
            <h2><%= favoritesData[i].show_title %></h2>
            <!-- If there's a show poster, display poster -->
            <% if (favoritesData[i].show_img) { %>
              <a href="/show/<%= favoritesData[i].id %>">
                <img src="http://image.tmdb.org/t/p/w185<%= favoritesData[i].show_img %>">
              </a>
            <% } else if (!favoritesData[i].show_img) { %>
              <a href="/show/<%= favoritesData[i].id %>">
                <img class="no-img" src="/client/img/tv-noimg.png">
              </a>
            <% } %>
            <!-- Remove from favorites button -->
            <!-- Doesn't work yet -->
            <form action="/favorites?_method=DELETE" method="POST">
              <input type="hidden" name="showId" value="<%= favoritesData[i].id %>">
              <button class="remove-btn">
                Remove from Favorites
              </button>
            </form>
          </div>
        <% } %>
      </div>
    </div>

    <a class="top-button" href=#top-button>&#8593;</a>

  <body>
</html>
